<!DOCTYPE html>

{{>header}}

<body>
    <h1>{{title}}</h1>
    <section id="basic_info">
        Hello My Name Is {{name}}and I am {{age}} I am from {{country}}
        <br />
        People also call me <strong>{{nickname}}</strong>,I am studying at {{university}}
    </section>

    {{>internal}}
</body>

{{>footer}}